<odoo>
    <!-- Top menu item -->
    <menuitem name="upobye" id="main_upobye_menu" groups="group_upobye_manager"/>

    <!-- menu categories -->
    <menuitem name="upobye" id="upobye_menu" groups="group_upobye_manager" parent="main_upobye_menu"/>

    <!-- actions -->
    <menuitem name="Sectores" id="sectores_menu" parent="upobye_menu" groups="group_upobye_manager" action="sector_list_action"/>
    <menuitem name="Experiencia" id="experiencia_menu" parent="upobye_menu" groups="group_upobye_manager" action="experiencia_list_action"/>
    <!--<menuitem name="Proyectos" id="proyectos_menu" parent="upobye_menu" groups="group_upobye_manager" action="proyecto_list_action"/>-->
</odoo>